body {
  background: #333;
}
 

.box {
  width: 250px;
  height: 250px;
  /* Les couleurs  */
  /* named colors */
  background-color: salmon;
  /* red green blue RGB */
  background-color: rgb(250, 128, 114);
  /* red green blue alpha RGBA */
  background-color: rgb(250, 128, 114, 0.3);
  /* hexadecimal */
  background-color: #fa8072;
  /* hexadecimal */
  background-color: hsl(6, 93%, 71%);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  border: 10px solid blue;
}

h1 {
  color: red;
}