*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  background: #333;
  color: #f1f1f1;
}


p {
  font-size: 35px;
}


/* max-width = en dessous de xxx */



/* min-width = au-dessus de xxx */



/* height */



/* width */




/* all(défaut), screen, print */




/* opérateurs and, not, ",", only */




/* and pour créer des intervalles */




/* not pour la négation */




/* la virgule "," pour assembler plusieurs medias */




/* Seulement quand hover est supporté, pas en mode mobile */




/* prefers-color-scheme pour le dark / light mode*/





/* coarse = grossier = petit écran(doigt) */





/* Orientation du téléphone / Tablette */


