body {
  background-color: coral;
}

/* Une règle CSS : */

/*  Sélecteur */
h1 {
  /* Déclaration */
  color: blue;
  font-size: 45px;
  background: #f1f1f1;
}

/* Différents sélecteurs sont disponibles */

.title {
  background-color: cornsilk;
}

#title-1 {
  background-color: crimson;
}

.title.first-title {
  padding: 20px;
}

.container p {
  font-size: 30px;
  color: green;
}

/* On évite les sélections trop longues */


.list-item {
  font-size: 30px;
}


/* On donne une classe au parent ou à l'enfant pour faciliter la sélection */

.list li {
  font-size: 30px;
}

/* ou */

.list-item {
  font-size: 30px;
}

/* Le sélecteur universel "*" sélectionne tout */

* {
 background: #000;
}

/* On l'utilise souvent pour reset */

* {
  margin: 0;
  padding: 0;
}

/* On peut aussi l'utiliser dans un élément */

.container * {
  background-color: pink;
}

