*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Colors */
  --light-orange: #f2d0a9ff;
  --almond: #f1e3d3ff;
  --crimson: #dc143cff;

  /* General */
  --dark-base: #222;
  --lighter-dark: #333;
  --gray: #858585;
  --light-gray: #d2d2d2;
  --light-white: #f1f1f1;

  /* Active */
  --active-almond: #feecd7;
  --active-light-white: #dedede;
  --active-crimson: #c51337;

  /* Fonts */
  --base-font: Raleway, sans-serif;
  --accent-font: Nunito sans, sans-serif;

  /* Font-size */

  --fs-12: 0.75rem;
  --fs-14: 0.875rem;
  --fs-16: 1rem;
  --fs-18: 1.125rem;
  --fs-20: 1.25rem;
  --fs-22: 1.375rem;
  --fs-24: 1.5rem;
  --fs-26: 1.625rem;
  --fs-40: 2.5rem;
  --fs-42: 2.625rem;
  --fs-64: 4rem;
  --fs-72: 4.5rem;

  /* shadows */
  --light-solid-shadow: 0 2px 0px #111111cc;
  --solid-shadow: 0 2px 0px #111;
  --shadow-sm: 0 2px 4px rgba(17, 17, 17, 0.502);
  --drop-shadow: 1px 1px 0px #1111114d;

  /* gradients */
  --striped-pinky: repeating-linear-gradient(
      135deg,
      rgba(106, 100, 100, 0.1) 0px,
      rgba(106, 100, 100, 0.1) 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(to right, #f3cdcd, #f4e0bb);
  --light-orange-pinky: linear-gradient(to left, #fcd4d4, #f8d9a0);
  --dark-right : linear-gradient(to bottom right, #252525, #383838);
  --dark-left : linear-gradient(to bottom left, #252525, #383838);
  --radial-white-beige:  radial-gradient(#f1f1f1, #f5f5dc);


  /* borders */
  --light-dark-border: 1px solid var(--lighter-dark);
  --dark-thick-border: 2px solid var(--lighter-dark);
}

/* Global & utilitaires */

body {
  font-family: var(--base-font);
  color: var(--dark-base);
  background-color: var(--light-white);
}

/* Car ne s'hérite pas sur ces éléments de base */
button,
input {
  font-family: var(--base-font);
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.main-heading {
  font-size: var(--fs-72);
  line-height: 1.1;
  font-family: var(--accent-font);
  color: var(--light-white);
  font-weight: 900;
  text-transform: uppercase;
  text-shadow: 0 3px 0px var(--lighter-dark), 0 4px 0px var(--lighter-dark);
  margin-bottom: 20px;
}

.heading-2 {
  font-size: var(--fs-40);
  font-family: var(--accent-font);
}
.surtitle,
.heading-2 {
  text-align: center;
}
.surtitle {
  color: var(--gray);
  font-size: var(--fs-18);
  font-weight: 400;
}

@media (max-width: 768px) {
  .main-heading {
    font-size: var(--fs-42);
  }
  .heading-2 {
    font-size: var(--fs-26);
  }
  .surtitle {
    font-size: var(--fs-16);
  }
}

/* Navigation */

nav {
  position: fixed;
  z-index: 10;
  width: 100%;
  background-color: var(--light-orange);
  padding: 12px 6px;
  display: flex;
  justify-content: center;
  border-bottom: var(--light-dark-border);
}
nav a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--dark-base);
  margin: 0 10px;
  font-size: var(--fs-14);
}
nav a:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}

/* Hero Section */

.hero-section {
  padding: 145px 10px 10px;
  min-height: 700px;
  background-image: url(./ressources/hero-background-semi-dark.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
}

/* à mettre dans utilitaire? */
.hero-btn {
  min-width: 175px;
  padding: 10px;
  border: none;
  box-shadow: var(--solid-shadow);
  border-radius: 999px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.hero-btn span {
  text-transform: uppercase;
  font-size: var(--fs-14);
  font-weight: 600;
  text-decoration-color: #111;
}
.hero-btn-1 {
  background-color: var(--light-white);
  color: var(--lighter-dark);
}
.hero-btn-2 {
  background-color: var(--crimson);
  color: var(--light-white);
}
.hero-btn-1:hover {
  background-color: var(--active-almond);
}
.hero-btn-2:hover {
  background-color: var(--active-crimson);
}
.hero-btn-2 {
  margin-left: 16px;
}

.hero-btn img {
  width: 20px;
  margin-left: 10px;
  filter: drop-shadow(var(--drop-shadow));
}

@media (max-width: 768px) {
  .hero-section {
    min-height: 550px;
  }
  .hero-btn {
    min-width: 135px;
    padding: 10px 12px;
  }
  .hero-section span {
    font-size: var(--fs-12);
  }
  .hero-btn img {
    width: 14px;
    margin-left: 10px;
  }
}
@media (max-width: 600px) {
  .hero-section {
    padding-top: 100px;
    min-height: 450px;
  }
}

/* Section Activités */

.activities-section {
  padding: 0 10px 62px;
  background-image: var(--striped-pinky);
}
.negativ-container {
  transform: translateY(-100px);
  background-color: var(--almond);
  border-radius: 25px;
  padding: 40px 25px 112px;
  position: relative;
  box-shadow: var(--shadow-sm);
}

.negativ-container .heading-2 {
  margin-bottom: 60px;
}
.activity-container {
  max-width: 825px;
  margin-inline: auto;
  min-height: 300px;
  display: flex;
  border-radius: 3px;
  box-shadow: var(--shadow-sm);
  background-image: var(--dark-right);
}
.activity-2 {
  background-image: var(--dark-left);
}
.activity-container:not(.activity-3) {
  margin-bottom: 60px;
}
.activity-container img {
  width: 50%;
  padding: 25px;
}

.activity-description {
  width: 50%;
}
.activity-container img {
  object-fit: cover;
}
.activity-description {
  display: flex;
  flex-direction: column;
  padding: 25px;
  color: var(--light-white);
}
.activity-heading {
  font-family: var(--accent-font);
  font-size: var(--fs-20);
  margin-bottom: 10px;
}
.activity-description p {
  line-height: 1.5;
  margin-bottom: 20px;
  font-size: var(--fs-16);
  color: var(--light-gray);
}
.activity-description li {
  list-style-type: none;
}
.activity-link {
  margin-top: auto;
  min-width: 150px;
  align-self: flex-start;
  text-decoration: none;
  text-align: center;
  padding: 10px 14px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: var(--fs-14);
  font-weight: 600;
  background-color: var(--light-white);
  color: rgb(30, 30, 30);
}
.activity-link:hover {
  background-color: var(--active-light-white);
}

@media (max-width: 768px) {
  .activities-section {
    padding: 0;
  }
  .negativ-container .heading-2 {
    margin-bottom: 35px;
  }
  .negativ-container {
    padding: 30px 10px 90px;
  }
  .activity-container {
    max-width: 500px;
    flex-wrap: wrap;
  }
  .activity-2 .activity-description {
    order: 2;
  }
  .activity-2 img {
    order: 1;
  }

  .activity-container img {
    width: 100%;
    padding: 25px;
  }

  .activity-description {
    padding: 0px 25px 25px;
    width: 100%;
  }
}

/* Parallax */


.parallax {
  min-height: 275px;
  background-image: url(ressources/parallax-large-flou.jpg);
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--light-white);
}
.japanese-text {
  font-size: var(--fs-64);
  /* Pour rapprocher les deux sinon les kanjis prennent beaucoup de place */
  line-height: 1.2;
}
.parallax-text {
  font-size: var(--fs-26);
}

@media (max-width: 600px) {
  .parallax {
    min-height: 200px;
  }
  .japanese-text {
    font-size: var(--fs-40);
  }
  .parallax-text {
    font-size: var(--fs-18);
  }
}

/* Pricing section */

.pricing {
  padding: 44px 10px 136px;
  background-image: var(--radial-white-beige);
}
.pricing .heading-2 {
  margin-bottom: 62px;
}

.pricing-cards-container {
  position: relative;
  display: flex;
  justify-content: center;
}

.pricing-card {
  width: 275px;
  min-height: 400px;
  padding: 18px;
  background-color: var(--light-orange);
  border-radius: 5px;
  border: var(--dark-thick-border);
  position: relative;
  display: flex;
  flex-direction: column;
}

.pricing-card h3 {
  font-family: var(--accent-font);
  font-size: var(--fs-26);
  margin-bottom: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.plan-line {
  width: 100%;
  margin: 0 10px;
  height: 1px;
  background-color: var(--dark-base);
}
.plan-price {
  font-size: var(--fs-24);
  font-family: var(--accent-font);
  font-weight: bold;
  font-style: italic;
}

.card-subtitle {
  font-size: 14px;
  margin-bottom: 24px;
}
.pricing-card ul {
  margin-bottom: 36px;
}
.pricing-card li {
  list-style-type: none;
  display: flex;
  font-weight: 500;
}
.pricing-card li:not(:last-of-type){
  margin-bottom: 14px;
} 
.pricing-card li img {
  width: 20px;
  margin-right: 10px;
}

.pricing-card button {
  margin-top: auto;
  padding: 10px;
  font-size: var(--fs-16);
  font-weight: bold;
  cursor: pointer;
  border: var(--dark-thick-border);
  border-radius: 2px;
  background-color: var(--light-white);
}
.pricing-card button:hover {
  color: var(--light-white);
  background-color: var(--dark-base);
}

.c1 {
  transform: translateY(10px) rotate(-10deg);
}
.c2 {
  transform: translateY(-10px);
  z-index: 2;
}
.c3 {
  transform: translateY(10px) rotate(10deg);
}

.shadow {
  display: block;
  margin: 20px auto 0;
}

@media (max-width: 900px) {
  .pricing {
    padding-bottom: 60px;
  }
  .pricing .heading-2 {
    margin-bottom: 40px;
  }
  .pricing-cards-container {
    flex-direction: column;
    align-items: center;
  }
  .pricing-card {
    width: 100%;
    max-width: 550px;
    min-height: auto;
    margin-bottom: 25px;
  }
  .pricing-card h3 {
    font-size: var(--fs-22);
  }
  .plan-price {
    font-size: var(--fs-20);
  }
  .card-subtitle {
    margin-bottom: 24px;
  }

  .pricing-card button {
    padding: 8px;
    font-size: var(--fs-14);
  }
  .c1 {
    transform: none;
  }
  .c2 {
    transform: none;
    order: 3;
  }
  .c3 {
    transform: none;
  }
  .shadow {
    display: none;
  }
}

/* Contact */
.contact {
  padding: 120px 10px;
  background-image: url(ressources/tradition-japan.jpg);
  background-position: center;
  background-size: cover;
  border-top: var(--dark-thick-border);
}

.rounded-contact {
  margin: 0 auto;
  max-width: 800px;
  background-color: var(--almond);
  padding: 50px 40px 92px;
  border-radius: 25px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  border: var(--dark-thick-border);
}

.rounded-contact h2 {
  margin-bottom: 44px;
}
.contact-list {
  max-width: 450px;
  margin: 0 auto;
}
.contact-list img {
  width: 30px;
}
.contact-list li {
  border-radius: 5px;
  /* background: var(--dark-base); */
  list-style-type: none;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* Deux fois pour le span et le lien */
  /* dégradé différent du premier au niveau des images/ directions  */
  background-image: var(--light-orange-pinky);
  border: var(--dark-thick-border);
}
.contact-list li:not(:nth-child(3)){
  margin-bottom: 15px;
}

.contact-list a, .contact-list span {
  font-size: var(--fs-20);
  color: var(--dark-base);
  font-weight: 700;
}

@media (max-width: 450px) {
  .contact {
    padding: 40px 10px;
  }
  .contact .heading-2 {
    font-size: var(--fs-24);
  }
  .rounded-contact {
    padding: 30px 20px;
  }
  .contact-list li {
    padding: 10px;
  }
  .contact-list a,
  .contact-list span {
    font-size: var(--fs-14);
    color: var(--dark-base);
  }
  .contact-list img {
    width: 20px;
  }
}

/* footer */

footer {
  background-color: var(--light-orange);
  padding: 10px 0;
  text-align: center;
}
footer a {
  text-decoration-color: var(--dark-base);
  color: var(--dark-base);
  text-underline-offset: 4px;
  font-weight: 500;
}
