*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #222;
  padding-top: 140px;
}

.flex-container {
  max-width: 600px;
  margin: 0 auto 140px;
  height: 400px;
  background: wheat;
  padding: 10px;
  border-radius: 5px;
  gap: 10px;
  display: flex;
}
.flex-item {
  width: 100px; 
  height: 100px;
  background: crimson;
  border-radius: 5px;
  padding: 10px;
  font-size: 35px;
  color: #f1f1f1;
  font-weight: bold;
}

/* Exercice 1 */

.flex-1 {
  justify-content: space-around;
  align-items: center;
}

/* Variante */
.flex-1 .flex-item {
  margin: auto;
}


/* Exercice 2 */

.flex-2 .item-2 {
  margin: auto;
}
.flex-2 .item-3 {
  /* align-self: flex-end; */

  /* Variante */
  margin-top: auto;
}


/* Exercice 3 */

.flex-3 {
  align-items: flex-end;
}
.flex-3 .flex-item {
  width: 100%;
}
.flex-3 .item-1 {
  height: 20%;
}
.flex-3 .item-2 {
  height: 30%;
}
.flex-3 .item-3 {
  height: 75%;
}
.flex-3 .item-4 {
  height: 25%;
}
.flex-3 .item-5 {
  height: 35%;
}

/* Exercice 4 */

.flex-4 .item-2 {
  flex-grow: 1;
}


/* Exercice 5 */

.flex-5 {
  flex-direction: column; 
}
.flex-5 .flex-item {
  /* auto pour annuler le width: 100% et laisser le align-self: strech faire son oeuvre */
  width: auto;
}
.flex-5 .item-2 {
  flex-grow: 1;
}


/* Exercice 6 */

.flex-6 {
  flex-direction: row-reverse;
  align-items: flex-end;
}